.mid-circle{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    background-color: aliceblue;
}